@charset "UTF-8";
/*cores*/
@font-face {
  font-family: myFont;
  src: local("Oswald-Regular.ttf"), url("../inc/tipografia/Oswald-Regular.ttf");
}
@font-face {
  font-family: myFontLight;
  src: local("Oswald-Light.ttf"), url("../inc/tipografia/Oswald-Light.ttf");
}
* {
  font-family: myFontLight, "Montserrat", "Trebuchet MS", "Arial", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  color: #ff7e3b;
  transition: 0.5s ease all;
  -webkit-transition: 0.5s ease all;
  -ms-transition: 0.5s ease all;
  -o-transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
}
a:hover {
  color: #fab033;
  text-decoration: none;
  transition: 0.5s ease all;
  -webkit-transition: 0.5s ease all;
  -ms-transition: 0.5s ease all;
  -o-transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
}

h1 {
  font-size: 3rem;
}

h1, h2, h3, h4 {
  font-family: myFont;
  text-transform: uppercase;
  font-weight: 700;
}

h1 b, h2 b, h3 b, h4 b {
  color: #ff7e3b;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1.1rem;
}

p, ul li {
  font-size: 19px;
}

ul li {
  font-family: myFontLight, "Montserrat", "Trebuchet MS", "Arial", sans-serif;
}

p {
  font-family: myFontLight, "Montserrat", "Trebuchet MS", "Arial", sans-serif;
  letter-spacing: normal;
  line-height: inherit;
}

iframe {
  display: block;
  margin: 40px 0;
}

.laranja {
  color: #ff7e3b;
}

.laranjaClaro {
  color: #fab033;
}

.btn {
  border-radius: 0;
}

.esconder {
  transition: 0.5s ease all;
  -webkit-transition: 0.5s ease all;
  -ms-transition: 0.5s ease all;
  -o-transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  display: none;
}

.my-container {
  padding: 3% 0;
  overflow: hidden;
}

.menu-container {
  padding: 0 4%;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: #ff7e3b;
}

.nav-pills .nav-link {
  border: 1px solid #e7e7e7;
  margin-bottom: 5px;
}

.modal-body ul li {
  list-style: none;
}

.modal-body ul {
  padding: 0;
}

.submenu-categorias {
  position: absolute;
  background-color: #414141;
  color: white;
  padding: 10px 36px;
  right: 0;
  top: 40px;
  z-index: 2;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.submenu-categorias ul {
  list-style: none;
  padding: 0;
  color: white;
}
.submenu-categorias ul li {
  padding: 7px 0;
}
.submenu-categorias ul li a {
  color: white;
}

.botao-laranja button, .botao-laranja {
  background: #ff7e3b;
  padding: 10px 50px 10px 50px;
  text-transform: uppercase;
  border: none;
  color: white;
  margin-top: 44px;
}
@media (max-width: 575.98px) {
  .botao-laranja button, .botao-laranja {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    min-width: 150px;
  }
}

/*topo-menu*/
#menu-topo ul li svg {
  width: 18px;
  margin: 0 7px;
}
@media (max-width: 767.98px) {
  #menu-topo ul li svg {
    width: 15px;
    margin: 0 3px;
    margin-bottom: 6px;
  }
}

.topo-menu {
  margin: 10px 0;
  border-bottom: 1px solid #6a6a6a;
  color: white;
}
@media (max-width: 575.98px) {
  .topo-menu {
    transform: translateY(55px);
  }
}

.topo-menu ul li {
  list-style: none;
  display: inline-table;
  margin-right: 10px;
}
.topo-menu ul li a {
  color: white;
  margin-right: 15px;
}
@media (max-width: 767.98px) {
  .topo-menu ul li a {
    margin-right: 0;
  }
}
.topo-menu ul li a:hover {
  text-decoration: none;
}

#menu-principal {
  margin-top: 60px;
  text-transform: uppercase;
}
@media (max-width: 575.98px) {
  #menu-principal {
    margin-top: 0;
  }
}

#menu-principal ul li a {
  color: white;
}
@media (max-width: 1199.98px) {
  #menu-principal ul li a {
    padding-left: 30px;
  }
}
@media (max-width: 575.98px) {
  #menu-principal ul li a {
    padding-left: 0px;
  }
}

.dropdown-menu {
  background-color: #ff7e3b;
  margin: 0;
}

.dropdown-menu a:hover {
  background: #6a6a6a;
}

.idioma {
  margin: 0 2px;
  width: 24px;
}

.idioma-on {
  opacity: 1;
}

.idioma-off {
  opacity: 0.5;
}

/*topo-menu*/
nav.navbar {
  padding: 0 15px;
}

@media (max-width: 1199.98px) {
  .txtAlignCenter {
    text-align: center;
  }
}

@media (max-width: 1199.98px) {
  .pbNav {
    padding-bottom: 20px;
  }
}

/*.floater-destaque */
.floater-destaque {
  position: relative;
  left: 0;
  right: 0;
}
.floater-destaque svg {
  height: 50px;
  width: auto;
  fill: white;
}

.floater-destaque .cacambas, .floater-destaque .maquina, .floater-destaque .modulos-habitacionais {
  text-align: center;
  color: white;
  padding: 40px;
  font-family: myFont, "Montserrat", "Trebuchet MS", "Arial", sans-serif;
}

.floater-destaque .cacambas {
  background: url("../inc/img/cacambas.jpg");
}

.floater-destaque .maquina {
  background: url("../inc/img/maquina.jpg");
}

.floater-destaque .modulos-habitacionais {
  background: url("../inc/img/modulos-habitacionais.jpg");
}

.floater-destaque img {
  width: 100px;
}

.floater-destaque svg {
  margin: 25px;
}

/*.floater-destaque */
.cabecalho span, .cabecalho-light span {
  display: block;
  margin: 0px auto 30px auto;
  width: 80px;
  height: 2px;
  background-color: #ff7e3b;
  transform: skewX(-30deg);
  clear: both;
  transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
}

.btn-laranja {
  background: #ff7e3b;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 20px 0;
}

/*faca-um-orcamento*/
.bg-orcamento {
  margin-top: 40px;
}

.faca-um-orcamento {
  background: url("../inc/img/faca-um-orcamento.jpg");
}

/*faca-um-orcamento*/
/*servicos*/
.servicos {
  margin-top: 40px;
  margin-bottom: 140px;
}
.servicos svg {
  fill: #ff7e3b;
  height: 50px;
  margin-bottom: 30px;
}
.servicos .col-md-4 {
  margin-bottom: 20px;
}

.servicos-col {
  border: 1px solid #e7e7e7;
  padding: 50px 10px 80px 10px;
  height: 100%;
  text-align: center;
  display: block;
  position: relative;
  transition: 0.4s ease all;
  -webkit-transition: 0.4s ease all;
  -ms-transition: 0.4s ease all;
  -o-transition: 0.4s ease all;
  -moz-transition: 0.4s ease all;
}

.servicos-col:hover {
  background: #ff7e3b;
  color: white;
  transition: 0.4s ease all;
  -webkit-transition: 0.4s ease all;
  -ms-transition: 0.4s ease all;
  -o-transition: 0.4s ease all;
  -moz-transition: 0.4s ease all;
  box-shadow: 0px 4px 51px -17px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0px 4px 51px -17px rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: 0px 4px 51px -17px rgba(0, 0, 0, 0.9);
  margin-top: -10px;
}

.servicos-col:hover .servicos-paragrafo, .servicos-col:hover .servicos-titulo {
  color: white;
  transition: 0.4s ease all;
  -webkit-transition: 0.4s ease all;
  -ms-transition: 0.4s ease all;
  -o-transition: 0.4s ease all;
  -moz-transition: 0.4s ease all;
}

.servicos-col:hover svg {
  fill: white;
}

.cabecalho, .cabecalho-light {
  padding-top: 40px;
}

.cabecalho h2 {
  text-transform: uppercase;
}

.cabecalho h2, .cabecalho p, .cabecalho-light h2 {
  text-align: center;
  color: #6a6a6a;
}

.cabecalho-light h2 {
  color: white;
}

.servicos-col h3 {
  color: #ff7e3b;
  text-transform: uppercase;
  font-size: 1.3rem;
}

.servicos-col p {
  color: #6a6a6a;
}

.servicos-col .botao {
  position: absolute;
  display: block;
  margin: auto;
  bottom: 30px;
  left: 0;
  right: 0;
}

.servicos-col .botao button {
  color: #ff7e3b;
  text-transform: uppercase;
  background: white;
}

/*servicos*/
/*slider*/
.bg-light {
  /*background-color: rgba(0, 0, 0, 0) !important;
  background: linear-gradient(180deg, black 0%, black 11%, rgba(0, 0, 0, 0) 100%)*/
  background-color: rgba(0, 0, 0, 0) !important;
  transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
}
@media (max-width: 1199.98px) {
  .bg-light {
    background-color: #414141 !important;
  }
}

.bg-dark {
  padding: 0;
  margin-top: 0px !important;
  transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
}

.carousel-item img {
  -webkit-filter: brightness(45%);
  filter: brightness(45%);
  object-fit: cover;
  width: 100%;
  height: 100%;
  height: -moz-available;
  /* WebKit-based browsers will ignore this. */
  height: -webkit-fill-available;
  /* Mozilla-based browsers will ignore this. */
  height: fill-available;
}

.carousel-caption-expand-height {
  height: 758px;
}

.carousel-caption {
  top: 40%;
}
@media (max-width: 575.98px) {
  .carousel-caption h1 {
    font-size: 20px !important;
  }
}
@media (max-width: 767.98px) {
  .carousel-caption h1 {
    font-size: 30px;
  }
}
@media (max-width: 575.98px) {
  .carousel-caption p {
    font-size: 15px !important;
  }
}
@media (max-width: 767.98px) {
  .carousel-caption p {
    font-size: 20px;
  }
}

@media (max-width: 767.98px) {
  #menu-topo .social img {
    height: 20px;
  }
}
@media (max-width: 767.98px) {
  #menu-topo ul {
    margin-bottom: 0;
  }
}
@media (max-width: 575.98px) {
  #menu-topo ul {
    margin-bottom: 1rem;
  }
}
@media (max-width: 767.98px) {
  #menu-topo li {
    font-size: 17px;
  }
}
@media (max-width: 575.98px) {
  #menu-topo li {
    font-size: 13px;
  }
}

.carousel-flat-height img {
  height: 400px;
}

.carousel-caption-flat-height {
  bottom: 100px;
}

/*slider*/
@media (max-width: 1199px) {
  /*slider*/
  .bg-dark {
    /* padding: 0;*/
    margin-top: 0px !important;
    transition: all 400ms ease;
    -webkit-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    background-color: #414141;
  }

  .carousel-item img {
    -webkit-filter: brightness(45%);
    filter: brightness(45%);
    object-fit: cover;
    width: 100%;
    height: 100%;
    height: -moz-available;
    /* WebKit-based browsers will ignore this. */
    height: -webkit-fill-available;
    /* Mozilla-based browsers will ignore this. */
    height: fill-available;
  }

  .carousel-caption {
    bottom: 40px;
  }

  .carousel-flat-height img {
    height: 400px;
  }

  .carousel-caption-flat-height {
    bottom: 100px;
  }

  /*slider*/
}
ul.bp-indicators {
  z-index: 3;
  position: absolute;
  display: flex;
  bottom: 20%;
  left: 50%;
  list-style-type: none;
  padding: 0;
  transform: translateX(-50%);
}
@media (max-width: 575.98px) {
  ul.bp-indicators {
    display: none;
  }
}
ul.bp-indicators .dots {
  width: 14px;
  height: 14px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
}
ul.bp-indicators .dots.active {
  transition-duration: 0.5s;
  background-color: white !important;
}

/*nossos-premios*/
.nossos-premios {
  background-color: #414141;
  position: relative;
  text-align: center;
  font-size: 1rem;
}
.nossos-premios h3 {
  color: #ff7e3b;
  margin: 20px 0;
  text-align: left;
}
.nossos-premios .col-md-2, .nossos-premios .col-md-3, .nossos-premios .col-sm-3, .nossos-premios .col-lg-3, .nossos-premios .col-xs-3 {
  margin: 20px 0;
}
.nossos-premios p {
  color: white;
  text-align: left;
}
.nossos-premios .botao button {
  background: #ff7e3b;
  color: white;
  padding: 10px 50px 10px 50px;
  text-transform: uppercase;
  border: none;
  margin: 40px 0;
}
.nossos-premios img {
  transition: 0.4s ease all;
  -webkit-transition: 0.4s ease all;
  -ms-transition: 0.4s ease all;
  -o-transition: 0.4s ease all;
  -moz-transition: 0.4s ease all;
}
.nossos-premios img:hover {
  transform: scale(1.05);
  transition: 0.4s ease all;
  -webkit-transition: 0.4s ease all;
  -ms-transition: 0.4s ease all;
  -o-transition: 0.4s ease all;
  -moz-transition: 0.4s ease all;
}

#slider_container {
  width: 1200px;
  height: 200px;
  overflow: hidden;
  margin: 0 auto;
  scroll-behavior: smooth;
}
@media (max-width: 991.98px) {
  #slider_container {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 1199.98px) {
  #slider_container {
    width: 800px;
    height: 300px;
  }
}

#slider_container.active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
  transform: scale(1);
  transition: 0.4s ease all;
  -webkit-transition: 0.4s ease all;
  -ms-transition: 0.4s ease all;
  -o-transition: 0.4s ease all;
  -moz-transition: 0.4s ease all;
}

#slider_images {
  /* This is the bit that moves. It has 4 images, so 4 * 450 = 1800. You could use javascript
  to work this out instead by counting images. */
  width: 1200px;
  transition: 0.8s ease all;
  -webkit-transition: 0.8s ease all;
  -ms-transition: 0.8s ease all;
  -o-transition: 0.8s ease all;
  -moz-transition: 0.8s ease all;
}
@media (max-width: 991.98px) {
  #slider_images {
    width: 1800px;
  }
}

#slider_images img {
  padding: 0 5px;
  margin: 0;
  float: left;
  width: 200px;
  height: 200px;
  border-radius: 4px;
  transition: 0.4s ease all;
  -webkit-transition: 0.4s ease all;
  -ms-transition: 0.4s ease all;
  -o-transition: 0.4s ease all;
  -moz-transition: 0.4s ease all;
}
#slider_images img:hover {
  margin-top: -10px;
  transition: 0.4s ease all;
  -webkit-transition: 0.4s ease all;
  -ms-transition: 0.4s ease all;
  -o-transition: 0.4s ease all;
  -moz-transition: 0.4s ease all;
}
@media (max-width: 991.98px) {
  #slider_images img {
    width: 300px;
    height: 300px;
    margin: 0;
  }
}

#slider_controls {
  margin: 20px auto;
  position: relative;
  display: none;
}
#slider_controls span {
  border-radius: 50%;
  height: 15px;
  width: 15px;
  position: relative;
  display: inline-block;
  background: white;
  opacity: 0.4;
  margin: 5px;
  cursor: pointer;
}
#slider_controls span.selected {
  opacity: 1;
}
@media (max-width: 991.98px) {
  #slider_controls {
    display: block;
  }
}

.mt-np {
  margin-top: 0;
}
@media (max-width: 991.98px) {
  .mt-np {
    margin-top: -15%;
  }
}
@media (max-width: 767.98px) {
  .mt-np {
    margin-top: -10%;
  }
}
@media (max-width: 575.98px) {
  .mt-np {
    margin-top: -35%;
  }
}

/*nossos-premios*/
.bp-carousel {
  display: flex;
}
.bp-carousel .bp-carousel-inner {
  overflow: hidden;
  width: 100%;
  height: 200px;
  scroll-behavior: smooth;
  display: flex;
}
@media (max-width: 991.98px) {
  .bp-carousel .bp-carousel-inner {
    height: 300px;
  }
}
@media (max-width: 767.98px) {
  .bp-carousel .bp-carousel-inner {
    height: 600px;
  }
}
.bp-carousel .bp-item {
  margin-left: auto;
  margin-right: auto;
  min-height: 300px;
}
.bp-carousel .arrow-left, .bp-carousel .arrow-right {
  position: relative;
  margin-top: 6%;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  color: white;
}
.bp-carousel .arrow-right {
  right: 20px;
}
.bp-carousel .arrow-right:before {
  content: "›";
  display: inline-block;
  vertical-align: middle;
  font-size: 60px;
  position: relative;
  margin-left: 40px;
}
.bp-carousel .arrow-left:before {
  content: "‹";
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
  font-size: 60px;
  position: relative;
}

.bp-one {
  padding: 40px 0 40px 0;
}

.bp-item img {
  width: 100%;
}

@media (min-width: 992px) {
  .col-lg-24 {
    flex: 0 0 20%;
    max-width: 20%;
  }
}
.projetos-recentes .active {
  background: #6a6a6a;
  color: white;
}

.projetos-recentes .active a {
  color: white;
}

.projetos-recentes span {
  background-color: #6a6a6a;
}

.projetos-recentes h2, .projetos-recentes p {
  color: white;
}

.projetos-recentes ul li {
  display: inline-block;
  margin: 10px 20px;
  text-transform: uppercase;
  font-family: "Montserrat", "Trebuchet MS", "Arial", sans-serif;
}

.projetos-recentes ul li a {
  color: black;
}

.projetos-recentes ul li.active {
  background: black;
  padding: 0px 40px;
}

.projetos-recentes .imagemGaleria:hover .over-img {
  -webkit-filter: brightness(35%);
  filter: brightness(35%);
}

.projetos-recentes .imagemGaleria:hover .esconder {
  visibility: visible;
}

.projetos-recentes .imagemGaleria {
  margin: 20px 0;
}

.projetos-recentes img {
  position: relative;
  z-index: 1;
  object-fit: cover;
  border-radius: 4px;
  max-height: 280px;
}

.projetos-recentes .over, .projetos-sociais .over {
  position: absolute;
  display: block;
  z-index: 2;
  left: 0;
  right: 0;
  padding: 0 15px;
  bottom: 0;
}

.projetos-recentes .over svg, .projetos-sociais .over svg {
  width: 40px;
  margin-bottom: 40px;
}

.projetos-recentes .over .rodape, .projetos-sociais .over .rodape {
  background: #e7e7e7;
  padding: 10px 0;
}

.projetos-recentes .over .rodape p, .projetos-recentes .over h4, .projetos-sociais .over .rodape p, .projetos-sociais .over h4 {
  text-align: left;
  margin: 0;
  padding-left: 10px;
  color: #6a6a6a;
}

.projetos-recentes .over h4, .projetos-sociais .over h4 {
  padding-bottom: 10px;
}

/*projetos-recentes*/
/*depoimentos*/
.depoimentos {
  background: url("../inc/img/depoimentos.jpg");
  background-attachment: fixed;
}
.depoimentos .balao {
  background: #e7e7e7;
  padding: 40px 20px;
  margin-top: 40px;
  color: #6a6a6a;
  position: relative;
}
.depoimentos .balao::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: #e7e7e7;
  border-bottom: 0;
  margin-left: -20px;
  margin-bottom: -20px;
}
.depoimentos .balao-col:hover .balao {
  background: #ff7e3b;
  color: white;
  margin-top: 20px;
  transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -webkit-box-shadow: 0px 4px 51px -17px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0px 4px 51px -17px rgba(0, 0, 0, 0.9);
  box-shadow: 0px 4px 51px -17px rgba(0, 0, 0, 0.9);
}
.depoimentos .balao-col:hover .balao p {
  color: white;
}
.depoimentos .balao-col:hover .iconeHover {
  fill: white;
}
.depoimentos .balao-col:hover .balao::after {
  border-top-color: #ff7e3b;
}
.depoimentos .balao svg {
  float: left;
  clear: both;
  margin: 0;
  margin-bottom: 20px;
  fill: #6a6a6a;
  width: 30px;
  height: auto;
}
.depoimentos .balao p {
  text-align: center;
  margin: 0;
  clear: both;
}
.depoimentos .avatar {
  left: 0;
  right: 0;
  margin: 40px auto;
  width: 100px;
}
.depoimentos .avatar img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.depoimentos p {
  color: #6a6a6a;
}
.depoimentos .nome {
  font-weight: 700;
}

/*depoimentos*/
.faca-um-orcamento, .trabalhe-conosco, .projetos-recentes, .depoimentos {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: 60px;
  color: white;
  text-align: center;
}

.faca-um-orcamento, .trabalhe-conosco {
  padding: 120px;
}

/*produtos*/
.produtos-page-descricao {
  content: "";
  display: block;
  position: absolute;
  top: -100px;
  bottom: 0;
  right: 0;
  width: 1920px;
  height: 100%;
  background-color: #ff7e3b;
  -webkit-transform: skew(-50deg);
  -moz-transform: skew(-50deg);
  -o-transform: skew(-50deg);
  -ms-transform: skew(-50deg);
  transform: skew(-50deg);
}

.produtos {
  padding: 40px 0;
}

.produtos .card {
  border: 1px solid #ff7e3b;
  margin: 20px 0;
}

.produtos .card h2 {
  margin-top: 20px;
  text-align: center;
  font-size: 1.2rem;
  position: relative;
  z-index: 2;
}

.produtos .card button {
  background: white;
  margin-bottom: 20px;
  border: none;
  position: relative;
  z-index: 2;
}

.services-style-one {
  position: relative;
  padding: 90px 0px 70px;
}

.services-style-one .default-service-column {
  position: relative;
  margin-bottom: 30px;
  text-align: center;
}

.default-service-column {
  position: relative;
  margin: 40px 0;
}

.default-service-column .inner-box {
  position: relative;
  border: 1px solid #ff7e3b;
  max-width: 420px;
  margin: 0 auto;
  height: 100%;
  transition: 0.8s ease all;
  -webkit-transition: 0.8s ease all;
  -ms-transition: 0.8s ease all;
  -o-transition: 0.8s ease all;
  -moz-transition: 0.8s ease all;
}

.default-service-column .inner-box:hover {
  transition: 0.8s ease all;
  -webkit-transition: 0.8s ease all;
  -ms-transition: 0.8s ease all;
  -o-transition: 0.8s ease all;
  -moz-transition: 0.8s ease all;
  box-shadow: 0px 0px 7px 5px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 0px 7px 5px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 0px 7px 5px rgba(0, 0, 0, 0.05);
}

.default-service-column .inner-most {
  position: relative;
  overflow: hidden;
}

.default-service-column .image-box {
  position: relative;
}

.default-service-column .image-box img {
  display: block;
  width: 100%;
  object-fit: cover;
  height: 250px;
}

.default-service-column .lower-part {
  position: relative;
  padding-top: 20px;
  margin-top: -20px;
}

.default-service-column .lower-part .left-curve {
  position: absolute;
  left: -19px;
  top: -28px;
  width: 54.1%;
  height: 90px;
  background: #ffffff;
  border-top: 10px solid transparent;
  -webkit-transform: rotate(18deg);
  -ms-transform: rotate(18deg);
  -o-transform: rotate(18deg);
  -moz-transform: rotate(18deg);
  transform: rotate(18deg);
  transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
}

.default-service-column .lower-part .right-curve {
  position: absolute;
  right: -20px;
  top: -28px;
  width: 54.1%;
  height: 90px;
  background: #ffffff;
  border-top: 10px solid transparent;
  -webkit-transform: rotate(-18deg);
  -ms-transform: rotate(-18deg);
  -o-transform: rotate(-18deg);
  -moz-transform: rotate(-18deg);
  transform: rotate(-18deg);
  transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
}

.default-service-column:hover .lower-part .left-curve,
.default-service-column:hover .lower-part .right-curve {
  border-top-color: #fdc236;
}

.default-service-column .content {
  position: relative;
  padding: 10px 10px 20px 10px;
  z-index: 1;
}

.default-service-column .content h3 {
  position: relative;
  margin-bottom: 25px;
  text-align: center;
}

.default-service-column .content p {
  text-align: center;
}

.default-service-column .content .more-link {
  position: relative;
  text-align: center;
}

.default-service-column .content .read-more {
  position: relative;
  display: inline-block;
  border-bottom: 1px solid transparent;
  color: #ff7e3b;
  transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
}

.default-service-column .content .read-more:hover,
.default-service-column:hover .content .read-more {
  border-color: #ff7e3b;
}

#produtos {
  margin-top: 50px;
}
@media (max-width: 767.98px) {
  #produtos {
    margin-top: 0;
  }
}
#produtos .produto-floater .texto {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #ff7e3b;
  z-index: 2;
}
#produtos .produto-floater .texto h2, #produtos .produto-floater .texto p {
  position: relative;
  z-index: 2;
  color: white;
  padding: 10px;
}
#produtos .produto-floater .texto p {
  font-size: 17px;
  margin: 10px;
}
#produtos .produto-floater .texto span {
  color: black;
}
#produtos .produto-floater .texto button, #produtos .produto-floater button {
  background: #6a6a6a;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
}
#produtos .produto-floater .texto::after {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  bottom: 0;
  right: -60px;
  width: 200px;
  height: 100%;
  background-color: #ff7e3b;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  -ms-transform: skew(-20deg);
  transform: skew(-10deg);
  z-index: 1;
}
@media (max-width: 1199.98px) {
  #produtos .produto-floater .texto::after {
    display: none;
  }
}
#produtos .produto-floater {
  background: white;
  height: auto;
  -webkit-box-shadow: 0px 1px 13px -2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 13px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 13px -2px rgba(0, 0, 0, 0.2);
  position: relative;
  left: 0;
  right: 0;
  bottom: 0px;
  z-index: 0;
}
#produtos .produto-floater .pagamento {
  padding: 60px 0px;
  position: relative;
  z-index: 2;
  padding-left: 70px;
}
@media (max-width: 1199.98px) {
  #produtos .produto-floater .pagamento {
    padding: 20px;
  }
}
#produtos .produto-floater .pagamento h4 {
  text-align: center;
}
#produtos .produto-floater .pagamento img {
  width: 270px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: block;
}
#produtos .produto-floater .texto .bread svg, #produtos .sobre .bread svg, #produtos .bread svg {
  fill: white;
  width: 25px;
  float: left;
  margin: 0 10px 0 0;
}
#produtos .sobre .bread svg, #produtos .bread svg {
  fill: #6a6a6a;
}
#produtos .produto-floater .texto .bread p, #produtos .sobre .texto .bread p {
  margin: 0;
  padding: 0;
  font-family: myFont, "Montserrat", "Trebuchet MS", "Arial", sans-serif;
}

.produto-floater button {
  background: #ff7e3b;
  color: white;
}

.produto-floater a {
  color: white;
}

.produtos-container {
  margin-top: 20px;
  margin-bottom: 40px;
  display: block;
  z-index: 1;
}

.produtos-container .menu-produtos {
  left: 0;
  right: 0;
  margin: 0 auto;
}

.produtos-container ul li {
  margin: 10px 4px 10px 4px;
  border-radius: 6px;
}

.produtos-container ul li:hover, li.nav-item.active {
  border: 1px solid #ff7e3b;
  background: #ff7e3b;
}

.produtos-container ul li a:hover, li.nav-item.active a {
  color: white;
}

/*produtos*/
@media (max-width: 1199px) {
  /*produtos*/
  .produtos-page-descricao {
    content: "";
    display: block;
    position: absolute;
    top: -100px;
    bottom: 0;
    right: 0;
    width: 1920px;
    height: 100%;
    background-color: #ff7e3b;
    -webkit-transform: skew(-50deg);
    -moz-transform: skew(-50deg);
    -o-transform: skew(-50deg);
    -ms-transform: skew(-50deg);
    transform: skew(-50deg);
  }

  .produtos {
    padding: 40px 0;
  }

  .produtos .card {
    border: 1px solid #ff7e3b;
    margin: 20px 0;
  }

  .produtos .card h2 {
    margin-top: 20px;
    text-align: center;
    font-size: 1.2rem;
    position: relative;
    z-index: 2;
  }

  .produtos .card button {
    background: white;
    margin-bottom: 20px;
    border: none;
    position: relative;
    z-index: 2;
  }

  .services-style-one {
    position: relative;
    padding: 90px 0px 70px;
  }

  .services-style-one .default-service-column {
    position: relative;
    margin-bottom: 30px;
    text-align: center;
    transform: scale(1);
  }

  .default-service-column {
    position: relative;
    margin: 20px 0;
  }

  .default-service-column .inner-box {
    position: relative;
    border: 1px solid #ff7e3b;
    max-width: 420px;
    margin: 0 auto;
    transition: all 400ms ease;
    -webkit-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
  }

  .default-service-column .inner-box:hover {
    -webkit-box-shadow: 0px 0px 7px 5px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0px 0px 7px 5px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0px 0px 7px 5px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 0px 7px 5px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 7px 5px rgba(0, 0, 0, 0.05);
  }

  .default-service-column .inner-most {
    position: relative;
    overflow: hidden;
  }

  .default-service-column .image-box {
    position: relative;
  }

  .default-service-column .image-box img {
    display: block;
    width: 100%;
    object-fit: cover;
  }

  .default-service-column .lower-part {
    position: relative;
    padding-top: 20px;
    margin-top: -20px;
  }

  .default-service-column .lower-part .left-curve {
    position: absolute;
    left: -19px;
    top: -28px;
    width: 54.1%;
    height: 90px;
    background: #ffffff;
    border-top: 10px solid transparent;
    -webkit-transform: rotate(18deg);
    -ms-transform: rotate(18deg);
    -o-transform: rotate(18deg);
    -moz-transform: rotate(18deg);
    transform: rotate(18deg);
    transition: all 400ms ease;
    -webkit-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
  }

  .default-service-column .lower-part .right-curve {
    position: absolute;
    right: -20px;
    top: -28px;
    width: 54.1%;
    height: 90px;
    background: #ffffff;
    border-top: 10px solid transparent;
    -webkit-transform: rotate(-18deg);
    -ms-transform: rotate(-18deg);
    -o-transform: rotate(-18deg);
    -moz-transform: rotate(-18deg);
    transform: rotate(-18deg);
    transition: all 400ms ease;
    -webkit-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
  }

  .default-service-column:hover .lower-part .left-curve,
.default-service-column:hover .lower-part .right-curve {
    border-top-color: #fdc236;
  }

  .default-service-column .content {
    position: relative;
    padding: 10px 10px 20px 10px;
    z-index: 0;
  }

  .default-service-column .content h3 {
    position: relative;
    margin-bottom: 5px;
    text-align: center;
  }

  .default-service-column .content p {
    text-align: center;
  }

  .default-service-column .content .more-link {
    position: relative;
    text-align: center;
  }

  .default-service-column .content .read-more {
    position: relative;
    display: inline-block;
    border-bottom: 1px solid transparent;
    color: #ff7e3b;
    transition: all 400ms ease;
    -webkit-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
  }

  .default-service-column .content .read-more:hover,
.default-service-column:hover .content .read-more {
    border-color: #ff7e3b;
  }

  #produtos .produto-floater .texto {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #ff7e3b;
    z-index: 2;
  }

  #produtos .produto-floater .texto h2, .produto-floater .texto p {
    position: relative;
    z-index: 2;
    color: white;
    padding: 10px;
  }

  #produtos .produto-floater .texto p {
    font-size: 1rem;
    margin: 10px;
  }

  #produtos .produto-floater .texto span {
    color: black;
  }

  #produtos .produto-floater .texto button {
    background: #6a6a6a;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
  }

  #produtos .produto-floater {
    background: white;
    height: auto;
    -webkit-box-shadow: 0px 1px 13px -2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 1px 13px -2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 13px -2px rgba(0, 0, 0, 0.2);
    position: relative;
    left: 0;
    right: 0;
  }

  /*produtos*/
}
@media (max-width: 1199px) and (max-width: 767.98px) {
  #produtos .produto-floater {
    overflow: hidden;
  }
}
@media (max-width: 1199px) {
  #produtos .produto-floater .pagamento h4 {
    text-align: center;
  }
}
@media (max-width: 1199px) {
  #produtos .produto-floater .pagamento img {
    width: 220px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: block;
  }
}
@media (max-width: 1199px) {
  #produtos .produto-floater .texto .bread svg, .sobre .bread svg, .bread svg {
    fill: white;
    width: 25px;
    float: left;
    margin: 0 10px 0 0;
  }
}
@media (max-width: 1199px) {
  .sobre .bread svg, .bread svg {
    fill: #6a6a6a;
  }
}
@media (max-width: 1199px) {
  #produtos .produto-floater .texto .bread p, .sobre .texto .bread p {
    margin: 0;
    padding: 0;
    font-family: myFontLight, "Montserrat", "Trebuchet MS", "Arial", sans-serif;
  }
}
@media (max-width: 1199px) {
  .produtos-container {
    margin-top: auto;
    margin-bottom: 40px;
  }
}
@media (max-width: 1199px) {
  .produtos-container .menu-produtos {
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}
.paginate {
  margin: 0 auto 30px;
}
.paginate .page-btn {
  color: #ff7e3b;
  transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  border: solid 1px;
  padding: 5px 15px;
}
.paginate .page-btn:hover {
  color: #ff7e3b;
}

.line-L {
  text-align: left;
  float: left !important;
}

.line-Right {
  text-align: right;
  float: right !important;
}

@media (min-width: 1199.98px) {
  .scroll-rtl {
    max-height: 200px;
    overflow: auto;
    direction: rtl;
  }
}

/*sobre*/
.sobre {
  background: white;
}

.tabset > input[type=radio] {
  position: absolute;
  left: -200vw;
}

.tabset .tab-panel {
  display: none;
}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
  display: block;
}

.tabset > label {
  position: relative;
  display: inline-block;
  padding: 15px 15px 25px;
  border: 1px solid transparent;
  border-bottom: 0;
  cursor: pointer;
  font-weight: 600;
}

.tabset > label::after {
  content: "";
  position: absolute;
  left: 15px;
  bottom: 10px;
  width: 22px;
  height: 4px;
  background: #8d8d8d;
}

.tabset > label:hover,
.tabset > input:focus + label {
  color: #06c;
}

.tabset > label:hover::after,
.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
  background: #06c;
}

.tabset > input:checked + label {
  border-color: #ccc;
  border-bottom: 1px solid #fff;
  margin-bottom: -1px;
}

.tab-panel {
  padding: 30px 0;
  border-top: 1px solid #ccc;
}

.tabset {
  max-width: 65em;
}

/*sobre*/
/*blog*/
.card {
  margin-bottom: 20px;
  margin-top: 20px;
}
.card ul {
  list-style: none;
  padding-left: 0;
}

.blog .row .col-4 .card {
  margin: 20px 0;
  color: #6a6a6a;
}

.blog-floater {
  position: relative;
  bottom: 0px;
  width: 100%;
  z-index: 1;
}
.blog-floater label {
  display: none;
}

.blog-floater .container {
  background: #6a6a6a;
  padding: 20px;
}

.blog-floater svg {
  height: 20px;
  margin: 5px 10px 0 0;
  fill: white;
  float: left;
}

.blog-floater p, #crumbs {
  padding-top: 2px;
  font-family: myFontLight, "Montserrat", "Trebuchet MS", "Arial", sans-serif;
  color: white;
}
@media (max-width: 767.98px) {
  .blog-floater p, #crumbs {
    margin-bottom: 15px;
  }
}

.blog-floater a:hover {
  text-decoration: none;
  color: #ff7e3b;
}

.blog {
  position: relative;
  z-index: 0;
}
.blog h1, .blog h2, .blog h3, .blog h4 {
  margin-top: 60px;
  margin-bottom: 20px;
}

.blog-categorias {
  left: 0;
  right: 0;
  margin: 0 auto;
  display: inline-flex;
  float: right;
}
@media (max-width: 767.98px) {
  .blog-categorias {
    margin: 25px auto 0;
  }
}

.blog a {
  text-decoration: none;
}

.blog p {
  color: #6a6a6a;
}

.blog .texto {
  padding: 20px;
}

@media (max-width: 575.98px) {
  .d-sm-flex {
    display: flex;
  }
}

/*blog*/
.projetos-recentes .active {
  background: #6a6a6a;
  color: white;
}

.projetos-recentes .active a {
  color: white;
}

.projetos-recentes span {
  background-color: #6a6a6a;
}

.projetos-recentes h2, .projetos-recentes p {
  color: white;
}

.projetos-recentes ul li {
  display: inline-block;
  margin: 10px 20px;
  text-transform: uppercase;
  font-family: "Montserrat", "Trebuchet MS", "Arial", sans-serif;
}

.projetos-recentes ul li a {
  color: black;
}

.projetos-recentes ul li.active {
  background: black;
  padding: 0px 40px;
}

.projetos-recentes .imagemGaleria:hover .over-img {
  -webkit-filter: brightness(35%);
  filter: brightness(35%);
}

.projetos-recentes .imagemGaleria:hover .esconder {
  visibility: visible;
}

.projetos-recentes .imagemGaleria {
  margin: 20px 0;
}

.projetos-recentes img {
  position: relative;
  z-index: 1;
  object-fit: cover;
  border-radius: 4px;
  max-height: 280px;
}

.projetos-recentes .over, .projetos-sociais .over {
  position: absolute;
  display: block;
  z-index: 2;
  left: 0;
  right: 0;
  padding: 0 15px;
  bottom: 0;
}

.projetos-recentes .over svg, .projetos-sociais .over svg {
  width: 40px;
  margin-bottom: 40px;
}

.projetos-recentes .over .rodape, .projetos-sociais .over .rodape {
  background: #e7e7e7;
  padding: 10px 0;
}

.projetos-recentes .over .rodape p, .projetos-recentes .over h4, .projetos-sociais .over .rodape p, .projetos-sociais .over h4 {
  text-align: left;
  margin: 0;
  padding-left: 10px;
  color: #6a6a6a;
}

.projetos-recentes .over h4, .projetos-sociais .over h4 {
  padding-bottom: 10px;
}

/*projetos-recentes*/
/*especificacoes*/
.especificacoes-produtos {
  background: white;
  padding: 40px;
}

.col-especificacoes p {
  display: table-cell;
  vertical-align: middle;
  font-weight: bold;
  font-size: 16px;
}

.col-especificacoes h5 {
  margin-top: 10px;
}

.col-especificacoes .circulo {
  width: 150px;
  height: 150px;
  display: table;
  border-radius: 100%;
  border: 2px solid #ff7e3b;
  margin: 0 auto;
  color: white;
  background: #fab033;
}

/*especificacoes*/
#galeria {
  background-color: #414141;
  text-align: center;
  display: none;
  padding: 5%;
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  height: 100%;
  z-index: 9999;
}
@media (max-width: 767.98px) {
  #galeria {
    width: 100vw;
    height: 100vh;
  }
}

.fecharBotao {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.fecharBotao:hover,
.fecharBotao:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.conteudo {
  max-width: 1170px;
  position: relative;
  margin: auto;
  overflow: hidden;
  z-index: 0;
  bottom: 0;
  max-height: 700px;
}
.conteudo .fade {
  height: 100%;
}
.conteudo ul {
  height: 80vh;
}
.conteudo li img {
  object-fit: contain;
  height: 100%;
}

.conteudo ul {
  margin: 0;
  padding: 0;
}

.conteudo ul li {
  display: none;
  list-style: none;
  position: relative;
  z-index: 1;
}

.conteudo ul li.active {
  display: block;
}

img {
  vertical-align: middle;
}

.imagem-responsiva {
  width: 100%;
  height: auto;
  border-radius: 4px;
  cursor: pointer;
}

.imagem {
  margin: 20px 0;
  max-height: 300px;
}
.imagem img {
  height: 100%;
  object-fit: cover;
  transition: all 500ms ease-in-out;
  cursor: pointer;
}
.imagem img:hover {
  transform: scale(1.1);
  transition: all 500ms ease-in-out;
}

/*
.texto {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    background-color: rgba(0,0,0,0.4);
    bottom: 8px;
    left: 0;
    width: 100%;
    text-align: center;
}*/
.numero {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Next & previous buttons */
#anterior, #seguinte {
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 13px;
  z-index: 3;
}

#anterior {
  left: 0;
}

#seguinte {
  right: 0;
}

#anterior:hover, #seguinte:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

#dots {
  display: block;
  clear: both;
  margin: auto;
  padding: 20px 0;
  text-align: center;
  position: relative;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

#dots .active, #dots .dot:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Animations*/
.conteudo #imagens .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 4s;
  animation-name: fade;
  animation-duration: 4s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
.conteudo #imagens .fadeIn {
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  animation-duration: 4;
  -webkit-animation-duration: 4;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  visibility: visible !important;
}

@keyframes fadeIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  60% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(0.9);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  60% {
    -webkit-transform: scale(1.1);
  }
  80% {
    -webkit-transform: scale(0.9);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
}
.conteudo #imagens .bigEntrance {
  animation-name: bigEntrance;
  -webkit-animation-name: bigEntrance;
  animation-duration: 1.6s;
  -webkit-animation-duration: 1.6s;
  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  visibility: visible !important;
}

@keyframes bigEntrance {
  0% {
    transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
    opacity: 0.2;
  }
  30% {
    transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);
    opacity: 1;
  }
  45% {
    transform: scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
    opacity: 1;
  }
  60% {
    transform: scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);
    opacity: 1;
  }
  75% {
    transform: scale(0.99) rotate(1deg) translateX(0%) translateY(0%);
    opacity: 1;
  }
  90% {
    transform: scale(1.01) rotate(0deg) translateX(0%) translateY(0%);
    opacity: 1;
  }
  100% {
    transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
    opacity: 1;
  }
}
@-webkit-keyframes bigEntrance {
  0% {
    -webkit-transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
    opacity: 0.2;
  }
  30% {
    -webkit-transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);
    opacity: 1;
  }
  45% {
    -webkit-transform: scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
    opacity: 1;
  }
  60% {
    -webkit-transform: scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);
    opacity: 1;
  }
  75% {
    -webkit-transform: scale(0.99) rotate(1deg) translateX(0%) translateY(0%);
    opacity: 1;
  }
  90% {
    -webkit-transform: scale(1.01) rotate(0deg) translateX(0%) translateY(0%);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
    opacity: 1;
  }
}
@media only screen and (max-width: 300px) {
  .anterior, .seguinte, .texto {
    font-size: 11px;
  }
}
@media (max-width: 1199px) {
  #galeria {
    padding-top: 50%;
    padding: 0;
  }
}
/*trabalhe-conosco*/
.trabalhe-conosco {
  background: url("../inc/img/trabalhe-conosco-02.jpg");
  background-size: cover;
}

/*trabalhe-conosco*/
/*fale-conosco*/
.fale-conosco {
  background: #f4f5f9;
  color: #6a6a6a;
  padding-bottom: 50px;
  padding-top: 50px;
}

.fale-conosco h3 {
  margin: 10px 0;
}

.fale-conosco h4 {
  margin-top: 40px;
}

.fale-conosco-right span {
  font-size: 0.9rem;
  margin-bottom: 10px;
  display: block;
}

.fale-conosco p {
  color: #6a6a6a;
}

.fale-conosco h5 {
  text-align: center;
  margin-bottom: 20px;
}

.form-check-inline {
  margin-bottom: 10px;
}

.fale-conosco-left, .fale-conosco-right {
  background: white;
  padding: 30px;
  -webkit-box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.1);
  height: 100%;
}

.fale-conosco-left {
  padding: 30px;
}
@media (max-width: 575.98px) {
  .fale-conosco-left {
    margin-top: 15px;
  }
  .fale-conosco-left img {
    width: 100%;
  }
}

.fale-conosco-right .telefone {
  color: #ff7e3b;
  font-size: 2.5rem;
  font-family: "Montserrat", "Trebuchet MS", "Arial", sans-serif;
  margin: 0px;
  font-weight: 500;
  line-height: auto;
}
@media (max-width: 575.98px) {
  .fale-conosco-right .telefone {
    font-size: 1.5rem;
  }
}

.fale-conosco-right h4 {
  margin-top: 20px;
}

.fale-conosco-right p {
  margin-top: 0px;
}

.fale-conosco-left input[type=text], .fale-conosco-left input[type=email], .fale-conosco textarea, .fale-conosco .div-select select {
  width: 100%;
  border: 0;
  border: 1px solid #e7e7e7;
  margin: 10px 0;
  padding: 10px;
  color: #9b9b9b;
}

.fale-conosco-left input[type=checkbox] {
  margin-left: 0px;
}

.fale-conosco-left input[type=file] {
  padding: 10px 0;
}

.fale-conosco-left input::placeholder, .fale-conosco-left textarea::placeholder {
  color: #9b9b9b;
}

@media (min-width: 991.98px) {
  .btn-fo {
    margin-top: 4%;
  }
}

.card-text {
  color: #212529;
}

/*fale-conosco*/
/*newsletter*/
.newsletter .texto {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}

.newsletter .texto h2, .newsletter .texto p {
  position: relative;
  z-index: 2;
  color: white;
  text-transform: uppercase;
}

.newsletter .texto p {
  font-size: 1.4rem;
  margin: 0;
}

.newsletter .texto span {
  color: black;
}

.newsletter .texto::after {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  bottom: 0;
  right: 0;
  width: 1920px;
  height: 100%;
  background-color: #ff7e3b;
  -webkit-transform: skew(-50deg);
  -moz-transform: skew(-50deg);
  -o-transform: skew(-50deg);
  -ms-transform: skew(-50deg);
  transform: skew(-50deg);
}

.newsletter {
  background: #6a6a6a;
  height: 100%;
}

.newsletter .formulario {
  padding-top: 40px;
  padding-left: 40px;
}

.newsletter .formulario input[type=text], .blog-floater .formulario input[type=text] {
  width: 70%;
  float: left;
  height: 40px;
  background: #e7e7e7;
  border: none;
  padding: 10px;
}

.newsletter .formulario input[type=submit], .blog-floater .formulario input[type=submit] {
  color: white;
  background: #ff7e3b;
  border: none;
  padding: 0 20px;
  width: 30%;
  height: 40px;
}

.newsletter .formulario input::placeholder, .blog-floater .formulario input::placeholder {
  color: #9b9b9b;
}

/*newsletter*/
/*footer*/
footer {
  background-color: #6a6a6a;
}

.footer {
  background: url("../inc/img/footer.jpg");
  background-position: center;
  background-size: inherit;
  background-repeat: no-repeat;
  position: relative;
  padding-top: 40px;
  padding-bottom: 80px;
  width: 100%;
}
.footer h3 {
  margin-bottom: 40px;
}
.footer ul {
  padding: 0;
}
.footer ul li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  color: white;
}
.footer ul li a {
  color: white;
  margin-left: 0px;
}
.footer ul li a:hover {
  color: #ff7e3b;
  margin-left: 5px;
}
.footer p {
  margin: 20px 0;
  text-align: left;
}
.footer .rodape {
  border-top: 1px solid #ff7e3b;
  margin-top: 40px;
}
.footer .rodape p {
  text-align: center !important;
}
.footer .rodape span {
  color: #ff7e3b;
}

.footer p, .footer h3, .footer ul li {
  color: #e7e7e7;
}

.footer .social img, .topo-menu .social img {
  margin-right: 0px;
  display: inline-block;
  width: 30px;
}

/*footer*/
.footer-floater {
  width: 100%;
  background: #414141;
  position: fixed;
  bottom: 0;
  z-index: 3;
  padding: 10px 0;
  color: white;
  transition-duration: 0.5s;
}
.footer-floater p {
  margin-top: 20px;
  text-align: right;
}

@media (max-width: 1199px) {
  /*newsletter*/
  .newsletter .texto::after {
    display: none;
  }

  .newsletter .texto {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .newsletter .texto h2, .newsletter .texto p {
    position: relative;
    z-index: 2;
    color: white;
    text-transform: uppercase;
    font-family: myFontLight, "Montserrat", "Trebuchet MS", "Arial", sans-serif;
    text-align: center;
  }

  .newsletter .texto p {
    font-size: 1.4rem;
    margin: 0;
  }

  .newsletter .texto span {
    color: #ff7e3b;
    display: inline-block;
  }

  .newsletter {
    background: #6a6a6a;
    height: 100%;
  }

  .newsletter .formulario {
    padding: 20px;
  }

  /*newsletter*/
  /*footer*/

  /*footer*/
}
@media (max-width: 1199px) and (max-width: 575.98px) {
  .newsletter .formulario {
    padding: 20px 20px 20px 20px;
  }
}
@media (max-width: 1199px) {
  .newsletter .formulario input[type=text], .blog-floater .formulario input[type=text] {
    width: 70%;
    float: left;
    height: 40px;
    background: #e7e7e7;
    border: none;
    padding: 10px;
  }
}
@media (max-width: 1199px) {
  .newsletter .formulario input[type=submit], .blog-floater .formulario input[type=submit] {
    color: white;
    background: #ff7e3b;
    border: none;
    padding: 0 20px;
    width: 30%;
    height: 40px;
  }
}
@media (max-width: 1199px) {
  .newsletter .formulario input::placeholder, .blog-floater .formulario input::placeholder {
    color: #9b9b9b;
  }
}
@media (max-width: 1199px) {
  .footer {
    background: none;
    position: relative;
    padding-top: 40px;
    padding-bottom: 20px;
    width: auto;
  }
}
@media (max-width: 1199px) {
  .footer p, .footer h3, .footer ul li {
    color: #e7e7e7;
  }
}
@media (max-width: 1199px) {
  .footer p {
    margin: 20px 0;
    text-align: justify;
  }
}
@media (max-width: 1199px) {
  .footer h3 {
    margin-bottom: 40px;
  }
}
@media (max-width: 1199px) {
  .footer ul {
    padding: 0;
  }
}
@media (max-width: 1199px) {
  .footer li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
}
@media (max-width: 1199px) {
  .footer .social img {
    margin-right: 10px;
    margin-bottom: 20px;
  }
}
@media (max-width: 1199px) {
  .footer .rodape {
    border-top: 1px solid #ff7e3b;
    margin-top: 40px;
  }
}
@media (max-width: 1199px) and (max-width: 575.98px) {
  .footer .rodape {
    margin-bottom: 63px;
  }
}
@media (max-width: 1199px) {
  .footer .rodape p {
    text-align: center !important;
  }
}
@media (max-width: 1199px) {
  .footer .rodape span {
    color: #ff7e3b;
  }
}
@media (max-width: 1199px) {
  .carousel {
    height: auto;
  }
}
@media (max-width: 1199px) {
  .footer-floater button {
    display: absolute;
    background: #ff7e3b;
    width: 100%;
    color: white;
    border-radius: 4px;
    margin-bottom: 5px;
  }
}
@media (max-width: 1199px) {
  .footer-floater p {
    text-align: center;
    display: none;
  }
}
@media (max-width: 1199px) {
  .footer-floater img {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
