/* Error: Undefined mixin.
 *     ,
 * 201 | /         @include breakpoint(smartphones) {
 * 202 | |             padding: 20px 20px 20px 20px;
 * 203 | \         }
 *     '
 *   scss\_footer.scss 201:9       @import
 *   scss\style-mobile.scss 957:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a     \2577 \a 201 \2502  \250c          @include breakpoint(smartphones) {\a 202 \2502  \2502              padding: 20px 20px 20px 20px;\a 203 \2502  \2514          }\a     \2575 \a   scss\\_footer.scss 201:9       @import\a   scss\\style-mobile.scss 957:9  root stylesheet";
}
