wp-admin/error_log
wp-content/cache/
wp-content/wflogs/
wp-content/uploads/
#plugins que não funcionam ou não interessam localmente
wp-content/plugins/autoptimize/
wp-content/plugins/integracao-rd-station/
wp-content/plugins/super-socializer/
wp-content/plugins/wp-mail-smtp/
cgi-bin/
.htaccess
.ftpquota
.idea/
#eclipse IDE
.buildpath
.project
google04b9ffa6deebd546.html