/*cores*/
$cinzaLight: #f4f5f9 !default;
$cinzaClaro: #e7e7e7 !default;
$cinzaEscuro: #6a6a6a !default;
$cinzaDark: #414141 !default;
$cinzaMedio: #9b9b9b !default;
$laranja: #ff7e3b !default;//ff5e14
$laranjaClaro: #fab033 !default;



//breakpoints
$smartFranklin:320.98px;
$smartphones: 575.98px;
$tablets: 767.98px;
$desktops: 991.98px;
$largeDesktops: 1199.98px;
$hdDesktops: 1439.98px;
$fullHdDesktops: 1919.98px;