/*blog*/
.card{
    margin-bottom: 20px;
    margin-top: 20px;
    ul{
        list-style: none;
        padding-left: 0;
    }
    &.card-posts {
        min-height: 430px;
        transition: ease-in-out 0.4s all;
        &:hover{
            transform: scale(1.05);// translateY(-10px);
        }
    }
}

.blog .row .col-4 .card{
    margin: 20px 0;
    color: $cinzaEscuro;
}

.blog-floater{
    position: relative;
    bottom: 0px;
    width: 100%;        
    z-index: 1;
    label{
        display: none;
    }
}       

.blog-floater .container{        
    background: $cinzaEscuro;
    padding: 20px;
}

.blog-floater svg{
    height: 20px;
    margin: 5px 10px 0 0;
    fill: white;
    float: left;
}

.blog-floater p, #crumbs{
    padding-top: 2px;
    font-family: myFontLight, "Montserrat", "Trebuchet MS", "Arial", sans-serif;
    color: white;
    @include mediaScreenMax($tablets){
        margin-bottom: 15px;
    }
}

.blog-floater a:hover{
    text-decoration: none;
    color: $laranja;
}

.blog{
    position: relative;
    z-index: 0;

    h1, h2, h3, h4{
        margin-top: 60px;
        margin-bottom: 20px;
    }
}

.blog-categorias{
    left:0; right:0; margin:0 auto; display: inline-flex; float: right;
    @include mediaScreenMax($tablets){
        display: block;
        width: 133px;
        margin: 25px auto 0;
        float: none;
    }
}

.blog a{
    text-decoration: none;
}
.blog p{
    color: $cinzaEscuro;
}
.blog .texto{
    padding: 20px;
}
.d-sm-flex{
    @include mediaScreenMax($smartphones){
        display: flex;
    }
}

.paginate-container {
    margin: 0 auto;
}
.blog-cats {
    li {
        list-style: none;
        font-weight: 600;
        a {
            color: white;
        }
    }
}
/*blog*/