/*newsletter*/
.newsletter .texto{
    position: relative;    
    padding-top: 20px;
    padding-bottom: 20px;
}

.newsletter .texto h2, .newsletter .texto p {
    position: relative;
    z-index: 2;
    color: white;
    text-transform: uppercase;
}

.newsletter .texto p{
    font-size: 1.4rem;
    margin: 0
}

.newsletter .texto span{
    color: black;
}

.newsletter .texto::after{
    content: "";
	display: block;
	position: absolute;
    top: 0px;
    bottom: 0;
	right: 0;
	width: 1920px;
	height: 100%;
	background-color:$laranja;
	-webkit-transform: skew(-50deg);
	-moz-transform: skew(-50deg);
	-o-transform: skew(-50deg);
	-ms-transform: skew(-50deg);
	transform: skew(-50deg);
}

.newsletter{
    background: #6a6a6a;
    height: 100%;
}

.newsletter .formulario{
    padding-top: 40px;
    padding-left: 40px;
}

.newsletter .formulario input[type=text], .blog-floater .formulario input[type=text]{
    width: 70%;
    float: left;
    height: 40px;
    background: $cinzaClaro;
    border: none;
    padding: 10px;
}

.newsletter .formulario input[type=submit], .blog-floater .formulario input[type=submit]{
    color: white;
    background: $laranja;
    border: none;
    padding: 0 20px;
    width: 30%;
    height: 40px;
}

.newsletter .formulario input::placeholder, .blog-floater .formulario input::placeholder{
    color: $cinzaMedio;
}
/*newsletter*/


/*footer*/
footer {
    background-color: #6a6a6a;
}
.footer{
    background: url('../inc/img/footer.jpg');
    background-position: center;
    background-size: inherit;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 40px;
    padding-bottom: 80px;
    width: 100%;
    h3{
        margin-bottom: 40px; 
    }

    ul{
        padding: 0;
    
        li{
            list-style: none;
            margin-left: 0;
            padding-left: 0;
            color: white;
            a{
                color: white;
                margin-left: 0px;
                &:hover{
                    color: $laranja;
                    margin-left: 5px;
                }
            }
        }
    }

    p{
        margin: 20px 0;
        text-align: left;
    }

    .rodape{
        border-top: 1px solid $laranja;
        margin-top: 40px;

        p{
            text-align: center !important;
        }
        span{
            color: $laranja;
        }
    }
}

.footer p, .footer h3,.footer ul li {
    color: $cinzaClaro;
}


.footer .social img, .topo-menu .social img{
    margin-right: 0px;
    // margin-bottom: 20px;
    display: inline-block;
    width: 30px
}


/*footer*/

.footer-floater{
    width: 100%;
    background: $cinzaDark;
    position: fixed;
    bottom: 0;
    z-index: 3;
    padding: 10px 0;  
    color: white;
    transition-duration: .5s;
    p{
        margin-top: 20px;
        text-align: right;
    }
}



@media (max-width: 1199px) {
    /*newsletter*/

    
    .newsletter .texto::after{
        display: none;
    }

    .newsletter .texto{
        position: relative;    
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .newsletter .texto h2, .newsletter .texto p {
        position: relative;
        z-index: 2;
        color: white;
        text-transform: uppercase;
        font-family: myFontLight, "Montserrat", "Trebuchet MS", "Arial", sans-serif;
        text-align: center;
    }

    .newsletter .texto p{
        font-size: 1.4rem;
        margin: 0
    }

    .newsletter .texto span{
        color: $laranja;
        display: inline-block;
    }

    .newsletter{
        background: #6a6a6a;
        height: 100%;
    }

    .newsletter .formulario{
        padding: 20px;
        @include breakpoint(smartphones) {
            padding: 20px 20px 20px 20px;
        }
    }

    .newsletter .formulario input[type=text], .blog-floater .formulario input[type=text]{
        width: 70%;
        float: left;
        height: 40px;
        background: $cinzaClaro;
        border: none;
        padding: 10px;
    }

    .newsletter .formulario input[type=submit], .blog-floater .formulario input[type=submit]{
        color: white;
        background: $laranja;
        border: none;
        padding: 0 20px;
        width: 30%;
        height: 40px;
    }

    .newsletter .formulario input::placeholder, .blog-floater .formulario input::placeholder{
        color: $cinzaMedio;
    }
    /*newsletter*/


    /*footer*/
    .footer{
        background: none;
        position: relative;
        padding-top: 40px;
        padding-bottom: 20px;
        width: auto;
    }

    .footer p, .footer h3,.footer ul li {
        color: $cinzaClaro;
    }

    .footer p{
        margin: 20px 0;
        text-align: justify;
    }

    .footer h3{
        margin-bottom: 40px; 
    }

    .footer ul{
        padding: 0;
    }
    .footer li{
        list-style: none;
        margin-left: 0;
        padding-left: 0;
    }

    .footer .social img{
        margin-right: 10px;
        margin-bottom: 20px;
    }

    .footer .rodape{
        border-top: 1px solid $laranja;
        margin-top: 40px;
        @include breakpoint(smartphones) {
            margin-bottom: 63px;
        }
    }

    .footer .rodape p{
        text-align: center !important;
    }

    .footer .rodape span{
        color: $laranja;
    }

    .carousel{
        height: auto;
    }

    .footer-floater button{
        display: absolute;
        background: $laranja;
        width: 100%;
        color: white;
        border-radius: 4px;
        margin-bottom: 5px;
    }

    .footer-floater p{
        text-align: center;
        display: none;
    }

    .footer-floater img{
        display: none;
    }
    /*footer*/
}